

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */

.second.bg{
background-color: #fff8f3;
}

.text-primary{
    color: #fd6e0a;
}

.dark-2{
color: #474747;
}

.btn-box{
background-color: #fd6e0a;
font-weight: bold;
font-size: 20px;
color: white;
border: none;
padding: 16px 30px;
border-radius: 5px;

}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
  font-size: 18px;
  color: #757575; 
}
/* header */
.header{
background-image: url(../images/developer.png), url(../images/header_bg.png);
background-repeat: no-repeat;
background-position: top left, bottom right;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
 font-weight: 800;
 font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 45px 0 300;
}
.banner-content{
    max-width: 580px;
    padding: 90px;
}

.banner-wlc{
    font-size: 35px;
    font-weight: 580px;

}

.banner-title{
    font-weight: bold;
    font-size: 70px;
}
.banner-pro-pic{
    width: 560px;
}

/* main styles */
.main{
max-width: 1140px;
margin: 0 auto;
}

/* about styles */
.about{
    border-radius: 10px;
padding: 130px 150px;
text-align: center;
margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    font-weight: 100px;
}

.item-description{
    font-weight: 600;

}